@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ukraine<br />
    the city of Chernivtsi<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:artur.cheban.95@gmail.com">artur.cheban.95@gmail.com</a><br />
</address>