@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/ms.css" />
</head>
<body>
    <div class="imgCenter"><img src="~/Content/Images/ms.png" width="800" height="200"><img /></div>
</body>

</html>